<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>

            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li>
                    <a href="/docs/providers/mongodbatlas/index.html">MongoDB Atlas Provider</a>
                </li>

                <li>
                <a href="#">Guides</a>
                    <ul class="nav nav-visible">
                    </ul>
                </li>

                <li>
                <a href="#">Data Sources</a>
                    <ul class="nav">
                      <li<%= sidebar_current("docs-mongodbatlas-datasource-database_user") %>>
                         <a href="/docs/providers/mongodbatlas/d/database_user.html">mongodbatlas_database_user</a>
                      </li>
                      <li<%= sidebar_current("docs-mongodbatlas-datasource-database_users") %>>
                         <a href="/docs/providers/mongodbatlas/d/database_user.html">mongodbatlas_database_users</a>
                      </li>
                      <li<%= sidebar_current("docs-mongodbatlas-datasource-cluster") %>>
                         <a href="/docs/providers/mongodbatlas/d/cluster.html">mongodbatlas_cluster</a>
                      </li>
                      <li<%= sidebar_current("docs-mongodbatlas-datasource-clusters") %>>
                         <a href="/docs/providers/mongodbatlas/d/database_user.html">mongodbatlas_clusters</a>
                      </li>
                      <li<%= sidebar_current("docs-mongodbatlas-datasource-network-container") %>>
                        <a href="/docs/providers/mongodbatlas/d/network_container.html">mongodbatlas_network_container</a>
                      </li>
                      <li<%= sidebar_current("docs-mongodbatlas-datasource-network-containers") %>>
                        <a href="/docs/providers/mongodbatlas/d/network_containers.html">mongodbatlas_network_containers</a>
                      </li>
                    </ul>
                </li>

                <li>
                  <a href="#">Resources</a>
                  <ul class="nav">
                    <li<%= sidebar_current("docs-mongodbatlas-resource-database_user") %>>
                        <a href="/docs/providers/mongodbatlas/r/database_user.html">mongodbatlas_database_user</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-project-ip-whitelist") %>>
                        <a href="/docs/providers/mongodbatlas/r/project_ip_whitelist.html">mongodbatlas_project_ip_whitelist</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-cluster") %>>
                        <a href="/docs/providers/mongodbatlas/r/cluster.html">mongodbatlas_cluster</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-network-container") %>>
                        <a href="/docs/providers/mongodbatlas/r/network_container.html">mongodbatlas_network_container</a>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>