<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>

            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li<%= sidebar_current("docs-mongodbatlas-index") %>>
                    <a href="/docs/providers/mongodbatlas/index.html">MongoDB Atlas Provider</a>
                </li>
                <li<%= sidebar_current("docs-mongodbatlas-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-database-user") %>>
                       <a href="/docs/providers/mongodbatlas/d/database_user.html">mongodbatlas_database_user</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-database-users") %>>
                       <a href="/docs/providers/mongodbatlas/d/database_users.html">mongodbatlas_database_users</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-cluster") %>>
                       <a href="/docs/providers/mongodbatlas/d/cluster.html">mongodbatlas_cluster</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-clusters") %>>
                       <a href="/docs/providers/mongodbatlas/d/clusters.html">mongodbatlas_clusters</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-cloud_provider_snapshot") %>>
                       <a href="/docs/providers/mongodbatlas/d/cloud_provider_snapshot.html">mongodbatlas_cloud_provider_snapshot</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-cloud_provider_snapshots") %>>
                       <a href="/docs/providers/mongodbatlas/d/cloud_provider_snapshots.html">mongodbatlas_cloud_provider_snapshots</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-cloud_provider_snapshot_restore_job") %>>
                       <a href="/docs/providers/mongodbatlas/d/cloud_provider_snapshot_restore_job.html">mongodbatlas_cloud_provider_snapshot_restore_job</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-cloud_provider_snapshot_restore_jobs") %>>
                       <a href="/docs/providers/mongodbatlas/d/cloud_provider_snapshot_restore_jobs.html">mongodbatlas_cloud_provider_snapshot_restore_jobs</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-network-container") %>>
                      <a href="/docs/providers/mongodbatlas/d/network_container.html">mongodbatlas_network_container</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-network-containers") %>>
                      <a href="/docs/providers/mongodbatlas/d/network_containers.html">mongodbatlas_network_containers</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-network-peering") %>>
                      <a href="/docs/providers/mongodbatlas/d/network_peering.html">mongodbatlas_network_peering</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-datasource-network-peerings") %>>
                        <a href="/docs/providers/mongodbatlas/d/network_peerings.html">mongodbatlas_network_peerings</a>
                    </li>
                  </ul>
                </li>

                <li<%= sidebar_current("docs-mongodbatlas-resource") %>>
                  <a href="#">Resources</a>
                  <ul class="nav">
                    <li<%= sidebar_current("docs-mongodbatlas-resource-database-user") %>>
                        <a href="/docs/providers/mongodbatlas/r/database_user.html">mongodbatlas_database_user</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-project-ip-whitelist") %>>
                        <a href="/docs/providers/mongodbatlas/r/project_ip_whitelist.html">mongodbatlas_project_ip_whitelist</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-cluster") %>>
                        <a href="/docs/providers/mongodbatlas/r/cluster.html">mongodbatlas_cluster</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-network-container") %>>
                        <a href="/docs/providers/mongodbatlas/r/network_container.html">mongodbatlas_network_container</a>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-project") %>>
                        <a href="/docs/providers/mongodbatlas/r/project.html">mongodbatlas_project</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-cloud_provider_snapshot") %>>
                        <a href="/docs/providers/mongodbatlas/r/cloud_provider_snapshot.html">mongodbatlas_cloud_provider_snapshot</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-cloud_provider_snapshot") %>>
                        <a href="/docs/providers/mongodbatlas/r/cloud_provider_snapshot_restore_job.html">mongodbatlas_cloud_provider_snapshot_restore_job</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-encryption_at_rest") %>>
                        <a href="/docs/providers/mongodbatlas/r/encryption_at_rest.html">mongodbatlas_encryption_at_rest</a>
                    </li>
                    <li<%= sidebar_current("docs-mongodbatlas-resource-network-peering") %>>
                        <a href="/docs/providers/mongodbatlas/r/network_peering.html">mongodbatlas_network_peering</a>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
